/hai*
/graph
.DS_Store
.venv
.vscode
__pycache__/
*/__pycache__/
*.zip
datasets/*
tasksheet2/exports/
sheet4/exports_sheet4/
sheet4/saved_models_sheet4/
tasksheet4/Task3_Results/*
tasksheet5/exports/
tasksheet5/saved_models/
exports/*
saved_models/*